
ul {
    list-style-type: none;
    margin: 0;
}
li {
    float: left;
    width: 32px;
    border: 2px solid #fff;
    border-left: none;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #555;
    background-color: #f0f0f0;
    padding: 0.5rem;
    display: inline;
    color: black;
    cursor: default;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
li.Active {
    background: #D6D6D6;
    color: #000;
    font-weight: bold;
}

li.Disabled {
    opacity: 0.5;
}
li.Disabled a {
    pointer-events: none;
}
